input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.noCategory {
    font-size: 60%;
    font-weight: bold;
}

.sortIcon {
    color: brown;
    cursor: pointer;
}

.inputBorder {
    border: 1px solid black;
    font-weight: 500;
    color: black;
}